$white: #fff;
$pale-grey-two: #f5f5f7;
$pale-grey: #ebebef;
$silver: #d3d3d6;
$cool-grey: #b3b7bf;
$battleship-grey: #7e7e80;
$greyish-brown: #474747;
$black: #1f1f1f;

$grapefruit: #ff5555;

$baby-blue: #add2ff;
$soft-blue: #6fa5e6;
$water-blue: #0f6ad5;
$darkish-blue: #023894;
$darkish-blue-two: #022e7a;

$purple-brown: #742f32;
$faded-red: #ba282e;
$medium-green: #3cba49;
$translation: #4CAF50;
$dull-orange: #dda73b;
$dull-orange-two: #ce7a35;

$green: #4CAF50;
$green-two: #45a049;